.mainText {
  transform: scale(-1, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  border: none;
  resize: none;
}

.mainText:focus {
  outline: none !important;
  border: none;
}